
<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

		<div class="col-sm-4">
		  Address: <br />
      Rice Hall 024</br>
      85 Engineer's Way</br>
      Charlottesville, VA 22903</br>
      <a href="https://goo.gl/maps/5kCrtu4fxiuS2Z7c7">Google Map</a>
		</div>
    <div class="col-sm-4">
      Contact: <br />
		  <a href="https://github.com/collaborative-robotics-lab-at-uva" title="Links to projects" target="_blank"><img alt="" src="{{ site.url }}{{ site.baseurl }}/images/footericons/GitHub-Mark-32px.png" /> </a>&nbsp; &nbsp; &nbsp;
      <a href="https://www.youtube.com/channel/UCC00F32F17DbDf8FrIEvnPg" title="Collaborative Robotics Lab on Youtube" target="_blank"><img alt="" src="{{ site.url }}{{ site.baseurl }}/images/footericons/youtube.png", width="16%" /> </a>&nbsp; &nbsp; &nbsp;
		</div>


		</div>
	  </div>
	</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
