---
layout: default
---

  <div id="homeid" class="col-sm-12">
        <h1>Welcome to the Collaborative Robotics Lab</h1>
	      {{ content }}
  </div>
  <div id="newsid" class="col-sm-8" >
	{% include news.html %}
  </div>

  <div id="twitter_feed" class="col-sm-4" >
      <a class="twitter-timeline" data-height="400"
      href="https://twitter.com/BeingMIAkashs?ref_src=twsrc%5Etfw">
      Tweets by BeingMIAkashs</a>
      <script async src="https://platform.twitter.com/widgets.js"
      charset="utf-8"></script>
  </div>

  <div id="footer" class="col-sm-12" >
	{% include footer.html %}
  </div>
